{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Films List</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="date">{{ day }} / {{ month }} / {{ year }}</div>
        <table>
            <thead>
                <th>Name</th>
                <th>Language</th>
                <th>Year</th>
                <th>rating</th>
            </thead>
            <tbody>
                {% for row in films %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.language }}</td>
                    <td>{{ row.year }}</td>
                    <td>{{ row.rating }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>