*{
    margin: 0px;
    padding: 0px;
}

.container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.date {
    align-self: flex-end;
    padding: 15px 25px;
}

table {
    align-self: center;
    border: 3px solid black;
    border-collapse: collapse;
}

th , td{
    padding: 6px 15px;
    border: 1px solid black;

}

th {
    background-color: lightblue;
}